.border{
    border: 2px solid red;
}
.disp{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}
.mx-auto{
    max-width: 100vw;
    margin: auto;
}
.mx-width{
    width: 50vw;
    height: 60vh;
}

.set{
    background-color: rgb(13, 13, 69);
}

.m-auto{
    margin: auto;
}

.font{
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Ubuntu', sans-serif;
}
